a2_Node-RED_Code_File/flows.json
[
    {
        "id": "c1d30ccfc00f7025",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "590c3a89bfaad6f7",
        "type": "mqtt in",
        "z": "c1d30ccfc00f7025",
        "name": "MQTT IN",
        "topic": "a2/conveyorbelt",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e5c9f88d6532d2ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 480,
        "wires": [
            [
                "53e3ba3d4d61d03f"
            ]
        ]
    },
    {
        "id": "53e3ba3d4d61d03f",
        "type": "json",
        "z": "c1d30ccfc00f7025",
        "name": "json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "2b2954fbd0ef2b41",
                "febda91aca680bf8"
            ]
        ]
    },
    {
        "id": "2b2954fbd0ef2b41",
        "type": "function",
        "z": "c1d30ccfc00f7025",
        "name": "showData",
        "func": "var data = msg.payload;\n\nlet prodPerMin = { payload: data.prodPerMin, topic: \"prodPerMin\" };\nlet prodPerHr = { payload: data.prodPerHr, topic: \"prodPerHr\" };\nlet prodPerDay = { payload: data.prodPerDay, topic: \"prodPerDay\" };\n\nlet temp0 = { payload: data.temp[0], topic: \"temp0\" };\nlet temp1 = { payload: data.temp[1], topic: \"temp1\" }; \nlet temp2 = { payload: data.temp[2], topic: \"temp2\" }; \n\nlet hum0 = { payload: data.hum[0], topic: \"hum0\" };\nlet hum1 = { payload: data.hum[1], topic: \"hum1\" };\nlet hum2 = { payload: data.hum[2], topic: \"hum2\" };\n\nlet pres0 = { payload: data.pres[0], topic: \"pres0\" };\nlet pres1 = { payload: data.pres[1], topic: \"pres1\" };\nlet pres2 = { payload: data.pres[2], topic: \"pres2\" };\n\nlet status = { payload: \"Stopped\", topic: \"belt\"};\nif (data.belt) {\n    status.payload = \"Running\";\n}\n\nlet products = { payload: data.products, topic: \"Total Products\" };\n\nreturn [prodPerMin, prodPerHr, prodPerDay, temp0, temp1, temp2, hum0, hum1, hum2, pres0, pres1, pres2, status, products];",
        "outputs": 14,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 480,
        "wires": [
            [
                "b5a25f7542c26a86",
                "0c28da9c2fcd8034"
            ],
            [
                "5f39e802f027bfc7",
                "de07bf81f27a4166"
            ],
            [
                "aee5922f94cb88cf",
                "2c3c6ea180af2092"
            ],
            [
                "0fa1acfb62587c66",
                "27e5285f98131e4c"
            ],
            [
                "7d470d102ed05b21",
                "c825304dd898c3e0"
            ],
            [
                "6180dd69aa114ef3",
                "292ddd5c93a97489"
            ],
            [
                "23170765d3db2b1b",
                "e0e7bb2888bb729e"
            ],
            [
                "b65fc9b5471ab943",
                "14f39c175db17688"
            ],
            [
                "bc669e1d7a001218",
                "8506df3ac91d6693"
            ],
            [
                "13df2985b6b15f1e",
                "53c65f041ad69907"
            ],
            [
                "080a102a458f5b7c",
                "fddc164c438bcc41"
            ],
            [
                "39f34936387df4e6",
                "5e0fdb6d3ecfc844"
            ],
            [
                "7799a6c6c38ca12a"
            ],
            [
                "fa7ef81d30c3952b",
                "07730cfe73c0868e"
            ]
        ]
    },
    {
        "id": "b5a25f7542c26a86",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "prodPerMin",
        "group": "effc4b44e43b358c",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "donut",
        "title": "Products Per Minute",
        "label": "pieces",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "5f39e802f027bfc7",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "prodPerHr",
        "group": "effc4b44e43b358c",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "donut",
        "title": "Products Per Hour",
        "label": "pieces",
        "format": "{{value}}",
        "min": 0,
        "max": "24000",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 80,
        "wires": []
    },
    {
        "id": "0fa1acfb62587c66",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "temp0",
        "group": "d0d5540fcd7733da",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 0",
        "label": "°C",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "10",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 1430,
        "y": 140,
        "wires": []
    },
    {
        "id": "23170765d3db2b1b",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "hum0",
        "group": "9bb17dd8ef8735ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity 0",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 1430,
        "y": 440,
        "wires": []
    },
    {
        "id": "aee5922f94cb88cf",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "prodPerDay",
        "group": "effc4b44e43b358c",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "donut",
        "title": "Products Per Day",
        "label": "pieces",
        "format": "{{value}}",
        "min": 0,
        "max": "576000",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1410,
        "y": 80,
        "wires": []
    },
    {
        "id": "7d470d102ed05b21",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "temp1",
        "group": "d0d5540fcd7733da",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 1",
        "label": "°C",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "10",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 1430,
        "y": 240,
        "wires": []
    },
    {
        "id": "6180dd69aa114ef3",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "temp2",
        "group": "d0d5540fcd7733da",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 2",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "10",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 1430,
        "y": 340,
        "wires": []
    },
    {
        "id": "b65fc9b5471ab943",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "hum1",
        "group": "9bb17dd8ef8735ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity 1",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "10",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 1430,
        "y": 540,
        "wires": []
    },
    {
        "id": "bc669e1d7a001218",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "hum2",
        "group": "9bb17dd8ef8735ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity 2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "10",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 1430,
        "y": 640,
        "wires": []
    },
    {
        "id": "13df2985b6b15f1e",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "pres0",
        "group": "b149087de3b0fa6d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure 0",
        "label": "psi",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "0.5",
        "seg2": "1.5",
        "diff": false,
        "className": "",
        "x": 1430,
        "y": 740,
        "wires": []
    },
    {
        "id": "39f34936387df4e6",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "pres2",
        "group": "b149087de3b0fa6d",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure 2",
        "label": "psi",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1290,
        "y": 920,
        "wires": []
    },
    {
        "id": "080a102a458f5b7c",
        "type": "ui_gauge",
        "z": "c1d30ccfc00f7025",
        "name": "pres1",
        "group": "b149087de3b0fa6d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure 1",
        "label": "psi",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "0.5",
        "seg2": "1.5",
        "diff": false,
        "className": "",
        "x": 1430,
        "y": 840,
        "wires": []
    },
    {
        "id": "0c28da9c2fcd8034",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "prodPerMinChart",
        "group": "26dc5ac13e843914",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "Products Per Minute Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "de07bf81f27a4166",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "prodPerHrChart",
        "group": "26dc5ac13e843914",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "Products Per Hour Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "0",
        "ymax": "24000",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2c3c6ea180af2092",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "prodPerDayChart",
        "group": "26dc5ac13e843914",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Products Per Day Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "0",
        "ymax": "576000",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1430,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "27e5285f98131e4c",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "temp0Chart",
        "group": "7fe1fa8fb5432296",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Temperature 0 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "-40",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c825304dd898c3e0",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "temp1Chart",
        "group": "7fe1fa8fb5432296",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature 1 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "-40",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "292ddd5c93a97489",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "temp2Chart",
        "group": "7fe1fa8fb5432296",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature 2 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "-40",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e0e7bb2888bb729e",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "hum0Chart",
        "group": "421f719bee80307f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity 0 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "14f39c175db17688",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "hum1Chart",
        "group": "421f719bee80307f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity 1 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "8506df3ac91d6693",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "hum2Chart",
        "group": "421f719bee80307f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity 2 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "53c65f041ad69907",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "pres0Chart",
        "group": "512b9eaebd43291e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Pressure 0 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "fddc164c438bcc41",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "pres1Chart",
        "group": "512b9eaebd43291e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Pressure 1 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "5e0fdb6d3ecfc844",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "pres2Chart",
        "group": "512b9eaebd43291e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Pressure 2 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1310,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "fa7ef81d30c3952b",
        "type": "ui_text",
        "z": "c1d30ccfc00f7025",
        "group": "2d9867aaee9f4f2b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "totalProducts",
        "label": "Total Products",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 940,
        "wires": []
    },
    {
        "id": "7799a6c6c38ca12a",
        "type": "ui_text",
        "z": "c1d30ccfc00f7025",
        "group": "2d9867aaee9f4f2b",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "beltStatus",
        "label": "Belt Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 960,
        "wires": []
    },
    {
        "id": "07730cfe73c0868e",
        "type": "ui_chart",
        "z": "c1d30ccfc00f7025",
        "name": "totalProductsChart",
        "group": "2d9867aaee9f4f2b",
        "order": 3,
        "width": "6",
        "height": "10",
        "label": "Total Products Chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "a44c30ea8ecd0d35",
        "type": "comment",
        "z": "c1d30ccfc00f7025",
        "name": "cmnt for mqtt node",
        "info": "Subcribing topic a2/conveyorbelt to get the published data from MQTT broker",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "41dadbd7bb1a73f1",
        "type": "comment",
        "z": "c1d30ccfc00f7025",
        "name": "cmnt for json node",
        "info": "converts the data received from the MQTT IN node to json object",
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "b5b6da6eb09fb72c",
        "type": "comment",
        "z": "c1d30ccfc00f7025",
        "name": "cmnt for showData node",
        "info": "gets the data from the json object and sends data through different output to the charts and gauges",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "febda91aca680bf8",
        "type": "function",
        "z": "c1d30ccfc00f7025",
        "name": "storeData",
        "func": "var data = msg.payload;\nvar msg = {\n    Belt_Running: data.belt.toString(), Total_Products: data.products.toString(),\n    Products_Per_Minute: data.prodPerMin, Products_Per_Hour: data.prodPerHr.toString(),\n    Products_Per_Day: data.prodPerDay.toString(), Temperature0: data.temp[0].toString(),\n    Temperature1: data.temp[1].toString(), Temperature2: data.temp[2].toString(),\n    Humidity0: data.hum[0].toString(), Humidity1: data.hum[1].toString(), Humidity2: data.hum[2].toString(),\n    Pressure0: data.pres[0].toString(), Pressure1: data.pres[1].toString(), Pressure2: data.pres[2].toString() \n    };\nreturn { payload: msg };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 620,
        "wires": [
            [
                "c73beca37f5f2445"
            ]
        ]
    },
    {
        "id": "c73beca37f5f2445",
        "type": "csv",
        "z": "c1d30ccfc00f7025",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "Belt_Running,Total_Products,Products_Per_Minute,Products_Per_Hour,Products_Per_Day,Temperature0,Temperature1,Temperature2,Humidity0,Humidity1,Humidity2,Pressure0,Pressure1,Pressure2",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 450,
        "y": 620,
        "wires": [
            [
                "826b80e17c4351d4"
            ]
        ]
    },
    {
        "id": "826b80e17c4351d4",
        "type": "file",
        "z": "c1d30ccfc00f7025",
        "name": "storage",
        "filename": "F:\\MIT SCU University\\SCU Term 4 📌\\PROG6002 Programming Internet of Things\\Assessment 2\\storage.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 600,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e5c9f88d6532d2ad",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "a6d432d2f0a54631933788a1e8ba2111.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "dashboard",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "6000",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "effc4b44e43b358c",
        "type": "ui_group",
        "name": "Products Count",
        "tab": "e683050525fddf34",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0d5540fcd7733da",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "e683050525fddf34",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9bb17dd8ef8735ad",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "e683050525fddf34",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b149087de3b0fa6d",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "e683050525fddf34",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26dc5ac13e843914",
        "type": "ui_group",
        "name": "Products Chart",
        "tab": "e683050525fddf34",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7fe1fa8fb5432296",
        "type": "ui_group",
        "name": "Temperature Chart",
        "tab": "e683050525fddf34",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "421f719bee80307f",
        "type": "ui_group",
        "name": "Humidity Chart",
        "tab": "e683050525fddf34",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "512b9eaebd43291e",
        "type": "ui_group",
        "name": "Pressure Chart",
        "tab": "e683050525fddf34",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d9867aaee9f4f2b",
        "type": "ui_group",
        "name": "Belt Overview",
        "tab": "e683050525fddf34",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e683050525fddf34",
        "type": "ui_tab",
        "name": "Smart ConveyorBelt",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]